@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
h1,
h2 {
  font-family: Lato;
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1{
 /* text-align: center; */
 font-family: 'Lobster', cursive;
 font-size: 64px;
 color: white;
 
}
#app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-1{
  width: 400px;
  /* align-items: center; */
  
}
 li{
  list-style-type: none;
 }
 li :hover{
  cursor: pointer;
  background-color: rgba(100, 100, 216, 0.671);
box-shadow: 0 2px 20px  rgb(155, 113, 214) ;
 }
 body{
  background-color: black;
 }

 .pocemon-list{
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
 margin-right: 20px;
 margin-top: 20px;
 width: 200px;
 height: 240px;
 border: 1px solid rgba(255, 255, 255, 0.336);
 }
 .pocemon-list p{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 21px;
  color: white;
 }
 

.modal{
  position: fixed;
  /* max-width: 100%;
  width: 30%; */
    top: 20px;
    
    left: 350px;
  display: none;
  text-align: center;
  text-align: center;
border: 1px solid rgb(101, 35, 101);
width: 350px;
padding: 15px;
background-color: rgba(255, 255, 255, 0.537);

}
.modal img{
width: 300px;
}
.modal button{
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgba(207, 72, 207, 0.667);
  font-size: 14px;
}

.modal button:hover{
cursor: pointer;
background-color: rgba(207, 72, 207, 0.667);

}

.pag{
  margin-top: 20px;
  display: flex;
  justify-content: center; 
 } 
.pagBtn{
  width: 80px;
  height: 40px;
 margin-right: 10px;
 border: 2px solid black;
 font-size: 16px;
 font-weight: bold;
}
.pagBtn:hover{
  cursor: pointer;
  background-color: rgba(100, 100, 216, 0.671);
  box-shadow: 0 1px 10px  rgb(155, 113, 214) ;
}

@media only screen and (max-width: 750px) {

  .modal{
    width: 60%;
    position: fixed;
  left: 100px;
  top: 20px
  }
  }

@media only screen and (max-width: 425px) {

.modal{
  width: 60%;
  position: fixed;
left: 100px;
top: 20px
}
}

